<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4J0n_zktPUXXEv8yDWFNhLJBG4tsMsu0</string>
	<key>GCM_SENDER_ID</key>
	<string>908690921148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gooogle-eeb52</string>
	<key>STORAGE_BUCKET</key>
	<string>gooogle-eeb52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908690921148:ios:afba400f6ab536b06b62b9</string>
</dict>
</plist>